body{
background-color: rgb(139, 91, 31);
}
div{
    background-color: rgba(158, 138, 47, 0.568);

}
article{
    background-color: rgb(206, 161, 78);
}
paper{
    background-image: url(https://cdn.discordapp.com/attachments/1285707580164800532/1316205805271257190/flor.webp?ex=675a33ad&is=6758e22d&hm=3ad7ec7afae6fe59eea0b6abc7850dfd1c8abf493d94ccd31095db936ea52000&);
    color: black;
}
